:root {
    --background: lab(97.6739% -.108689 -.74997);
    --foreground: lab(4.36941% -.237331 -5.91022);
    --card: lab(100% 0 0);
    --card-foreground: lab(4.36941% -.237331 -5.91022);
    --popover: lab(100% 0 0);
    --popover-foreground: lab(4.36941% -.237331 -5.91022);
    --primary: lab(45.4587% 19.4684 -70.6048);
    --primary-foreground: lab(98.84% .0000298023 -.0000119209);
    --secondary: lab(93.0079% -.518054 -3.73492);
    --secondary-foreground: lab(12.8457% -.51146 -10.7977);
    --muted: lab(93.0079% -.518054 -3.73492);
    --muted-foreground: lab(41.9258% -.856936 -7.37907);
    --accent: lab(90.6289% -.383526 -7.51408);
    --accent-foreground: lab(12.8457% -.51146 -10.7977);
    --destructive: lab(48.4493% 77.4328 61.5452);
    --border: lab(88.3678% -.516593 -3.73411);
    --input: lab(88.3678% -.516593 -3.73411);
    --ring: lab(45.4587% 19.4684 -70.6048);
    --chart-1: lab(45.4587% 19.4684 -70.6048);
    --chart-2: lab(58.1094% 7.42272 -53.5039);
    --chart-3: lab(33.4296% 25.4597 -70.528);
    --chart-4: lab(70.3396% 1.61937 -36.2762);
    --chart-5: lab(22.5881% 18.2068 -52.8932);
    --sidebar: lab(96.5044% -.267208 -1.87215);
    --sidebar-foreground: lab(4.36941% -.237331 -5.91022);
    --sidebar-primary: lab(45.4587% 19.4684 -70.6048);
    --sidebar-primary-foreground: lab(98.84% .0000298023 -.0000119209);
    --sidebar-accent: lab(90.6289% -.383526 -7.51408);
    --sidebar-accent-foreground: lab(12.8457% -.51146 -10.7977);
    --sidebar-border: lab(88.3678% -.516593 -3.73411);
    --sidebar-ring: lab(45.4587% 19.4684 -70.6048);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background);
    font-family: "Plus Jakarta Sans", Arial, sans-serif;
    color: var(--foreground);
    height: 100vh;
}
div {
    display: block;
    unicode-bidi: isolate;
}